<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css">
    <title>Count Me Up!</title>
  </head>

  <body>

    <div id="results">
      

    </div>

    <form action="./voting_page.html" id="send-to-vote">
      <input type="submit" value="Vote Now!">
    </form>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script src="./counter_page.js"></script>
  </body>

</html>
