<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css">
    <title>Count Me Up!</title>
  </head>

  <body>

    <div>
      <form id="voting-form">

      </form>

      <div id="vote-summary">
        Remaining Votes:
        <span id="remaining-votes">
          3
        </span>
      </div>

    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script src="./voting_page.js"></script>
  </body>

</html>
